body {
    background-color: lightgoldenrodyellow;
}

.s1o1, .s1o3 {
    width: 450px;
    vertical-align: middle;
}

.s1o2 {
    width: 600px;
    vertical-align: middle;
}

.tr1 {
    height: 200px;
}

.s2o1, .s2o2, .s2o3 {
    width: 500px;
}

#center {
    text-align: center;
}

#justify {
    text-align: justify;
}

a:link {
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

img {
    width: 50%;
}